<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
         
          
       <style>
  #Button {
  background-color: white;
  color: black;
  font-size: 16px;
  border: 2px solid #af4c93;
  border-radius: 8px;
  text-align: center;
  padding: 12px 20px;
  transition-duration: 0.4s;
}

#Button:hover {
  background-color: #af4c93; 
  color: white;
}
#mod {
  padding: 30px;
  text-align: center;
  background: #1ab1bc;
  color: white;
  font-size: 50px;
}
       </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center mt-3 mb-3" id="mod"><%= title %></h1>
            
            <% if(action == 'edit') { %>

                <div class="card">
                    <div class="card-header"> Edit Team Member Details </div>
                    <div class="card-body">
                        <form method="POST" action="/home/edit/<%= teamData.id %>">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Full Name</label>
                                        <input type="text" name="fullname" id="fullname" class="form-control" value="<%= teamData.fullname %>" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Group Name</label>
                                        <input type="text" name="groupname" id="groupname" class="form-control" value="<%= teamData.groupname %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label> SAP ID </label>
                                        <input type="number" name="sapid" id="sapid" class="form-control" value="<%= teamData.sapid %>" />
                                    </div>
                                </div>
            
                            </div>
                            <div class="mb-3">
                                <center><input type="submit" name="submit_button" class="btn btn-success" id="Button" value="Edit" /> </center>
                            </div>
                        </form>
                      <script>
                        document.getElementById('sapid').value="<%= teamData.sapid %>";
                        </script> 
                    </div>
                </div>

            <% } else { %>
                        
                            
            <% } %>

        </div> 

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>